@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    color: black;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .menu {
    font-size: 3em;
    letter-spacing: 5px;
    color: red;
    margin-top: 0;
    padding-top: 0;
}

.menu li {
  float: right;
  list-style-type: none;
  margin-right: 2em;
  margin-top: 2rem;
  margin-bottom: 0px;
  color: red;
  font-size: 1.5rem;
}

/*hero image & text */
.heroimage {
    height: 500px;
    background-image: url('../images/actheroresized.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.herotext {
    text-align: center;
    position: relative;
}

aside {
    width: 15%;
    bottom: 60%;
    right: 35%;
    float: right;
    font-style: italic;
    background-color: yellow;
    color: red;
    font-size: 2em;
    font-weight: 600;
    margin: 2% 2%;
}

table,
td {
    border: 1px solid black;
}

.classes {
    background-image: url('../images/amp2.jpg');
    height:
        /*600px*/
        26em;
    width: 100%;
}

.classes div {
    width: 13em;
    height: 13em;
    float: left;
    border-radius: 50%;
    text-align: center;
    margin: 6%;
    background-color: white;
}

#wrap {
    float: left;
}

.summary {
    text-align: center;
}

footer {
    height: 13em;
}

.socialmedia>li {
  text-align: center;
  display: inline;
  margin: 5rem;
}

.socialmedia {
    font-size: 5em;
    margin: 1em;
    padding: 1em;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 31%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .card img {
    position: relative;
    width: 100%;
  
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 850px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .socialmedia>li {
      margin: 2rem;
    }
  }

  .heroimageb {
    height: 500px;
    background-image: url('../images/brecht.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.heroimagem {
  height: 500px;
  background-image: url('../images/meyerhold.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.heroimageg {
  height: 500px;
  background-image: url('../images/poortheatre.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}
