@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    color: black;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .menu {
    font-size: 3em;
    letter-spacing: 5px;
    color: red;
    margin-top: 0;
    padding-top: 0;
}

.menu li {
  float: right;
  list-style-type: none;
  margin-right: 2em;
  margin-top: 2rem;
  margin-bottom: 0px;
  color: red;
  font-size: 1.5rem;
}

/*hero image & text */
.heroimage {
    height: 500px;
    background-image: url('../images/actheroresized.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.herotext {
    text-align: center;
    position: relative;
}

aside {
    width: 15%;
    bottom: 60%;
    right: 35%;
    float: right;
    font-style: italic;
    background-color: yellow;
    color: red;
    font-size: 2em;
    font-weight: 600;
    margin: 2% 2%;
}